*
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: DodgerBlue;
    width: 100%; 
    height: 50px; 
    text-align: center;
    background-size: cover;
    background-position: center; 
}

body
{
    background-image: url(logistics.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 15px;   
}


.main-nav li
{
    display: inline-block;
    }
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;    
}

.main-nav li a:hover
{
    color: black;
    border: 1.5px solid black;
}












