<!DOCTYPE html>
<html>
<head>
<title>Result</title>
<link rel= "stylesheet" type= "text/css" href= "static\data.css">
</head>
   
   <header>
       <div class="row">   
       <ul class="main-nav">
        <b><li class="active"><a href="/main"> Home </a></li>
            <li><a href="/test"> Your Test Dataset </a></li>
           <li><a href="/download" download="result">Download </a></li>
           <li><a href="/result"> summary </a></li></b>
       </ul>
       </div> 
       
      </header> 
      <body>
      <div class="raj">
       <P><h1> </br><b>Your Test Dataset has been uploaded... </b></h1></br> </br>
       <h2> You can see your test dataset or download your result </h2></br>
       <h3>Thank You </h3></b></p>
        	  <div class="mystyle">
	  <h1>Your DataFrame</h1> 
		{{data | safe}}
	  </div>
      
      </div>
   </body>
</html>

