<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "static\toggle.css">
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/upload">Upload</a>
  <a href="/test">Your test Data</a>
  <a href="/download">Download</a>
  <a href="#">Contact</a>
</div>
<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776</span>
  <div id='line'>
  <h2 style="font-size:50px">welcome!</h2>
</div></div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "15%";
  document.getElementById("main").style.width = "85%";
  document.getElementById("main").style.marginLeft = "15%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0%";
  document.getElementById("main").style.width = "100%";
  document.getElementById("main").style.marginLeft= "0%";
}
</script>

   
</body>
</html> 